<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          Martes 28 de Diciembre
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-between">
      <ion-col>Hora</ion-col>
      <ion-col>Monto</ion-col>
      <ion-col>Concepto</ion-col> 
    </ion-row>
    <ion-row class="ion-justify-content-between" *ngFor="let column of columns">
      <ion-col>
        <ion-text>
          {{column.time}}
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text>
          {{column.amount}}
        </ion-text>
      </ion-col>
      <ion-col>
        <ion-text>
          {{mapConcept(column.concept)}}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>